* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  border: 2px solid grey;
  max-width: 950px;
  margin: 50px auto;
  padding: 10px 40px 30px 50px;
}

.container h1 {
  font-size: 3rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.container P {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1.5rem;
}

.container img {
  width: 100%;
  object-fit: cover;
}

.container h2 {
  font-size: 2.5rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.container h3 {
  font-size: 1.8rem;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.container ul li {
  font-size: 1.5rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 30%;
  }
}
